
@{
    ViewBag.Title = "ActiveAccount";
}

<div class="alert alert-success">
    <h2>@ViewBag.UserName عزیز!</h2>
    <hr />
    <p>
        ثبت نام شما با موفقیت تکمیل شد<br /> اکنون میتوانید از طریق <a href="/Login" class="text-danger">این لینک</a> وارد حساب کاربری خود شوید.
    </p>
</div>