@model DataLayer.Users
@using System.Configuration;


<div style="direction: rtl; font-family: Arial;">

    <h2>@Model.UserName عزیز </h2>
    <p>
        لطفا برای بازیابی رمز عبور خود, روی لینک زیر کلیک کنید.
    </p>
    <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoverPassword/@Model.ActiceCode">بازیابی رمز عبور </a>

</div>
